/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body, html{
  height: 100%;
  background: whitesmoke;
  margin: 0 auto;
  zoom: 90%;
}

header{
  width: 100%;
  height: 4em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #154464;
  font-size: xx-large;
  font-weight: bold;
  color: #ffffff;
}

header div{
  margin: 1%;
  display: flex;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  box-sizing: border-box;
  margin: 1% 1% 0 1%;
}

.container > section {
  background: #fff;
  height: 16em;
  border: 1.5px solid #154464;
  padding: 2%;
}

section h1{
  border-bottom: 3px solid #b73386;
  margin: 0;
}

ol{
  margin-top: 4px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

ol li{
  font-size: larger;
}

h1{
  text-transform: capitalize;
  font-weight: lighter;
  padding-left: 10px;
}

.first-day{
  grid-column-start: var(--first-day-start);
}

.day-name{
  background:#f2f2f2;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}

.laboral:hover {
  background-color: #ccc; /* Cambia el color de fondo cuando se pasa el ratón */
}

.laboral {
  background-color: transparent; /* Color de fondo transparente por defecto */
  border-radius: 9%; /* Hace que los elementos sean circulares */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.festivo.nacional{
  background-color: red;
  color: white;
  border-radius: 20%;
}

.festivo.local {
  background-color: blue;
  color: white;
  border-radius: 20%;
}

.festivo.autonomico {
  background-color: green;
  color: white;
  border-radius: 20%;
}

#year-navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

#year-navigation button {
  color: whitesmoke;
  background-color: transparent;/* rgba(0, 0, 0, 0.1); /* Color de fondo */
  border: none; /* Eliminar el borde */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  font-size: 2em; /* Tamaño de fuente */
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#year-navigation button:hover {
  color: #b73386; /* Cambiar el color de fondo al pasar el mouse */
}

#current-year {
  font-size: 2em; /* Tamaño de fuente más grande */
  font-weight: bold; /* Opcional: hacer el texto en negrita */
  margin: 0 15px;
}

#zone-select {
  font-size: xx-large;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-align: center;
}

#zone-select option {
  color: hwb(0 0% 100%); /* Color del texto de las opciones*/ 
  /*text-align: center;*/
}

#leyenda {
  height: 100%;
  /*clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);*/
  margin: 0;
  display: inline-block;
  font-size: small;
}

#leyenda ul {
  padding: 0;
}

#leyenda li {
  display: flex;
  align-items: center;
  /*margin: 0 0 7px 0;*/
  /*transform: translateX(calc(var(--i) * 15px)); /* Desplazamiento progresivo */
}

.color-disk {
  width: 20px;
  height: 20px;
  /*padding: 1%;
  background-clip: content-box;*/
  clip-path: circle();
  /*border: 5px solid;*/
  margin: 5px 10px;
}

.rojo { background-color: red; }
.verde { background-color: green; }
.azul { background-color: blue; }

#festivity-count{
  margin-left: 10px;
  font-weight: bold;
}


@keyframes rotar-borde {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

.cumpleanos {
  color: black;
  border-radius: 20%;
  /* Simulación de borde animado */
  outline: 1.9px solid hsl(125, 100%, 50%); /* Comienza en verde */
  outline-offset: -1px;
  /* Aplica animación solo al borde */
  animation: girar-borde 1.5s linear infinite, rotar-borde 1.5s linear infinite;
}

#show-festivities {  
  height: 100%;
}

#festivity-name {
  margin-left: 70px;
  display: inline-block;
  padding: 5px;
}

#festivity-name ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.42em;
  font-family: Arial, sans-serif;
}

#festivity-name p{
  padding-left: 25px;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

/* Estilo de los días */
/* Lista de días - apilados verticalmente */
#days-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que ocupen todo el ancho disponible */
  margin: 5px 0; /* Espacio entre los elementos */
  gap: 10px;  /* Espacio entre los elementos */
}

#days-list .day {
  display: block;
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

#days-list .day:hover {
  background-color: #ddd;
}

.search-container {
  right: 0;
  top: 1.5em;
  position: absolute;
  display: inline-block;
}

#search {
  height: 30px;
  padding-right: 36px; /* Espacio para el icono */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 46%;
  transform: translateY(-45%);
  width: 25px;
  height: 25px;
  pointer-events: none; /* No bloquea el input */
}

.resultados-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
  max-height: 150px;
  overflow-y: auto;
  background: white;
}

.resultados-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultados-container li {
  padding: 5px;
  cursor: pointer;
}

.resultados-container li:hover {
  background: #f0f0f0;
}



#logo {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 140px; /* O el tamaño que prefieras */
}
