/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body, html{
  height: 100%;
  background: rgb(63,94,251);
  background: linear-gradient(50deg, rgba(63,94,251,1) 0%, rgba(57,245,181,1) 100%); 
  padding: 0px;
  margin: 0px;
}

header{
  font-size: xx-large;
  font-weight: bold;
  margin-left: -1%;
  color: floralwhite;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.container > section {
  background: #fff;
  border-radius: 4%;
}

ol{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

li{
  font-size: larger;
}

h1{
  text-transform: capitalize;
  font-weight: lighter;
  padding-left: 10px;
}

.first-day{
  grid-column-start: var(--first-day-start);
}

.day-name{
  background:#f2f2f2;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}

.laboral:hover {
  background-color: #ccc; /* Cambia el color de fondo cuando se pasa el rat칩n */
}

.laboral {
  background-color: transparent; /* Color de fondo transparente por defecto */
  border-radius: 8%; /* Hace que los elementos sean circulares */
  transition: background-color 0.3s ease; /* Transici칩n suave del color de fondo */
}

.festivo.nacional{
  background-color: red;
  color: white;
  border-radius: 8%;
}

.festivo.local {
  background-color: blue;
  color: white;
  border-radius: 8%;
}

.festivo.autonomico {
  background-color: green;
  color: white;
  border-radius: 8%;
}

#year-navigation button {
  background-color: transparent; /* Hacer los botones transparentes */
  border: none; /* Eliminar el borde */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  font-size: 2em; /* Tama침o de fuente */
  border-radius: 33%;
  vertical-align: -15%;
}

#year-navigation button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Cambiar el color de fondo al pasar el mouse */
}

#current-year {
  font-size: 2em; /* Tama침o de fuente m치s grande */
  font-weight: bold; /* Opcional: hacer el texto en negrita */
}

#zone-select {
  /*vertical-align: 0px;*/
  font-size: xx-large;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  color: white;
}


@keyframes rotar-borde {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

.cumpleanos {
 
  color: black;
  border-radius: 8%;
  /* Simulaci칩n de borde animado */
  outline: 1.9px dashed hsl(125, 100%, 50%); /* Comienza en verde */
  outline-offset: 1px;
  
  /* Aplica animaci칩n solo al borde */
  animation: girar-borde 1.5s linear infinite, rotar-borde 1.5s linear infinite;
}


/* Hover sobre los cumplea침os para dar m치s interactividad */
.cumpleanos:hover {
  background-color: #ffca28; /* Amarillo m치s fuerte cuando se pasa el rat칩n */
}

/* A침adir el emoji de pastel de cumplea침os */
/*.cumpleanos::after {
  content: "游꾹"; /* Emoji de pastel de cumplea침os */
  /*margin-left: 5px;
}*/

